<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Ember Starter Kit</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <script type="text/x-handlebars">
    <h2>{% block content_title %}{% endblock %}</h2>
    {% block content %}{% endblock %}
  </script>

  <script type="text/x-handlebars" data-template-name="index">
    <ul>
      <li><a href="{{ url_for('city_list') }}">所有城市</a></li>
      <li><a href="{{ url_for('pinche_list') }}">所有信息</a></li>
    </ul>
  </script>

  <script src="{{ url_for('static', filename='js/libs/jquery-1.9.1.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/handlebars-1.0.0-rc.3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/ember-1.0.0-rc.3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/app.js') }}"></script>

</body>
</html>
