<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>拼车</title>
<meta name="description" content="">
<meta name="keywords" content="">

<!-- Mobile viewport -->
<meta name="viewport" content="width=device-width; initial-scale=1.0">

<link rel="shortcut icon" href="images/favicon.ico"  type="image/x-icon" />

<!-- CSS-->
<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Ubuntu' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='js/flexslider/flexslider.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

<!--[if lt IE 9]>
<link rel='stylesheet' id='bones-ie-only-css'  href='css/ie.css' type='text/css' media='all' />
<![endif]-->

<!-- end CSS-->
    
<!-- JS-->
<script src="{{ url_for('static', filename='js/libs/modernizr-2.6.2.min.js') }}"></script>
<!-- end JS-->

</head>

<body onLoad="setTimeout(function() {window.scrollTo(0, 1)}, 100)" id="home">

<!-- main content area -->   
<div id="main" role="main" class="wrapper">
    
  <h2>{% block content_title %}{% endblock %}</h2>
    
<!-- content area -->    
  <div class="grid_12" id="content">
    {% block content %}{% endblock %}
  </div><!-- #end content area -->
      <!-- left sidebar -->    
    <aside>
    <ul>
      <li><a href="{{ url_for('city_list') }}">所有城市</a></li>
      <li><a href="{{ url_for('pinche_list') }}">所有信息</a></li>
    </ul>
  
    </aside><!-- #end left sidebar -->
 
<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.9.0.min.js">\x3C/script>')</script>
    

<!-- responsive FlexSlider slideshow by  -->
<script defer src="{{ url_for('static', filename='js/flexslider/jquery.flexslider-min.js') }}"></script>   

<!-- fire ups - read this file!  -->   
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
        
</body>
</html>