{% extends "base.html" %}

{% block content_title %}宝马{% endblock %}

{% block content %}
  <img src="/files/bmw3.jpg" alt="华晨宝马" />
  <p>
      华晨宝马晨宝马晨宝马晨宝马晨宝马晨宝马晨宝马晨宝马晨宝马晨宝马晨宝马
  </p>
  <input type="text" class="input-block-level" placeholder="新车价格">
  <input type="text" class="input-block-level" placeholder="里程数">
  <input type="text" class="input-block-level" placeholder="2013年5月">
  <label class="checkbox">
    <input type="checkbox" value="remember-me"> 同意
  </label>
  <button class="btn btn-large btn-primary" type="submit">估价</button>
{% endblock %}