{% extends "base.html" %}

{% block content_title %}宝马{% endblock %}

{% block content %}
  <div id="portal-logo">
    <a href="/bmw/"><img src="/files/bmw3.jpg" alt="华晨宝马" /></a>
    <p>
        华晨宝马晨宝马晨宝马晨宝马晨宝马晨宝马晨宝马晨宝马晨宝马晨宝马晨宝马
    </p>
  </div>
  <form method=post>
    <dl>
      <dt>请选择:</dt>
      <dd>新车价格<input type="text" name="新车价格" /></dd>
      <dd>里程数<input type="text" name="里程数" /></dd>
      <dd>购买年月<input type="text" name="购买年月" /></dd>
      <dd><input type="submit" value="计算" /></dd>
    </dl>
  </form>
{% endblock %}