{% extends "demo.html" %}

{% block content %}
<div class = "car_type">
    <div class="row-fluid header">
      <h3>车型参数</h3>
    </div>
    <div class="row-fluid">
      <span class="red"></span><span class="blue"></span>
    </div>
    <div class="types">
      <div class="row-fluid">
        <label class="span3" style="margin-top:5px;">车型：</label>
        <select class="span9">
          <option>
          2009年
          </option>
        </select>     
       </div>
    </div>
    <table class="table table-bordered table-striped">
        <colgroup>
          <col class="span1">
          <col class="span7">
        </colgroup>
        <thead>
          
        </thead>
        <tbody>
        <tr>
            <th colspan="2">基本参数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>注：&#9679;更换 &#9675;检查 -无</code></th>
          </tr>
          <tr>
            <td>
             车型名称
            </td>
            <td>
	      奥迪A4L 2003款 30 TFSI 手动舒适型
            </td>
          </tr>
          <tr>
            <td>
             厂商指导价（元）
            </td>
            <td>
	      27.28万
            </td>
          </tr>
          <tr>
            <td>
             厂商
            </td>
            <td>
	      一汽-大众奥迪
            </td>
          </tr>
          <tr>
            <td>
             级别
            </td>
            <td>
	      中型车
            </td>
          </tr>
          <tr>
            <td>
             发动机
            </td>
            <td>
	      1.8T 160马力 L4
            </td>
          </tr>
          <tr>
            <td>
             变速箱
            </td>
            <td>
	      6档手自一体
            </td>
          </tr>
          <tr>
            <td>
             长x宽x高（mm）
            </td>
            <td>
	      4761*1826*1439
            </td>
          </tr>
          <tr>
            <td>
             车身结构
            </td>
            <td>
	      4门5座三厢车
            </td>
          </tr>
          <tr>
            <td>
             最高车速
            </td>
            <td>
	      220
            </td>
          </tr>
        </tbody>
      </table>
    </div>
{% endblock %}
