{% extends "base.html" %}

{% block content_title %}二手车估价{% endblock %}

{% block content %}
  <p>你输入的二手车信息</p>
  <form class="form-horizontal" action="{{ url_for('gj') }}" method=post>
    <div class="control-group">
      <label class="control-label" for="j">购买新车价格</label>
      <div class="controls">
        <input type="text" name="j" value="680000"><span>元</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="c">行驶里程</label>
      <div class="controls">
        <input type="text" name="c" value="60000"><span>公里</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="ym">首次上牌时间</label>
      <div class="controls">
        <select name="y">
          <option>2010</option>
          <option>2011</option>
          <option>2012</option>
        </select><span>年</span>
        <select name="m">
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </select><span>月</span>    
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
          <button class="btn btn-large btn-primary" type="submit">估价</button>
      </div>
    </div>
    {% if p %}
      <label class="control-label">{{ p }}元</label>
    {% endif %}
  </form>
{% endblock %}