<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Yet another mobile boilerplate. YAMB v.2</title>
<meta name="description" content="">
<meta name="keywords" content="">

<link rel="image_src" href="images/logo.png" />

<!-- Mobile viewport -->
<meta name="viewport" content="width=device-width; initial-scale=1.0">

<link rel="shortcut icon" href="images/favicon.ico"  type="image/x-icon" />



<!-- CSS-->
<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Ubuntu' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="js/flexslider/flexslider.css" />
<link rel="stylesheet" href="css/style.css">

<!--[if lt IE 9]>
<link rel='stylesheet' id='bones-ie-only-css'  href='css/ie.css' type='text/css' media='all' />
<![endif]-->

<!-- end CSS-->
    
<!-- JS-->
<script src="js/libs/modernizr-2.6.2.min.js"></script>
<!-- end JS-->


<!-- columns demo style. DELETE IT! -->
<style type="text/css">
<!--

#columnsdemo .grid_1 h1,
#columnsdemo .grid_2 h1,
#columnsdemo .grid_3 h1,
#columnsdemo .grid_4 h1,
#columnsdemo .grid_5 h1,
#columnsdemo .grid_6 h1,
#columnsdemo .grid_7 h1,
#columnsdemo .grid_8 h1,
#columnsdemo .grid_9 h1,
#columnsdemo .grid_10 h1,
#columnsdemo .grid_11 h1,
#columnsdemo .grid_12 h1 {
border: solid 1px #999;
color:#999;
		text-align: center;
		padding: 10px;
}
-->
</style>
</head>

<body onLoad="setTimeout(function() {window.scrollTo(0, 1)}, 100)" id="home">
<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

  
<!-- header area -->
    <header class="wrapper clearfix">
		       
        <div id="banner">        
        	<div id="logo"><img src="images/logo.png" width="290" height="100" alt="logo"></div> 
        </div>
        
        <nav id="topnav" role="navigation">
        <h5 class="menu-toggle">Menu</h5>  
        	<ul class="sf-menu" id="menu-main-navigation">
			<li class="current"><a href="#">menu item 1</a>
				<ul>
					<li>
						<a href="#">menu item 1.1</a>
					</li>
					<li class="current">
						<a href="#">menu item 1.2</a>
						<ul>
							<li class="current"><a href="#">menu item 1.2.1</a></li>
							<li><a href="#">menu item 1.2.2</a></li>
							<li><a href="#">menu item 1.2.3</a></li>
							<li><a href="#">menu item 1.2.4</a></li>
							<li><a href="#">menu item 1.2.5</a></li>
						</ul>
					</li>
					<li><a href="#">menu item 1.3</a></li>
					<li><a href="#">menu item 1.4</a></li>
				</ul>
			</li>
			<li>
				<a href="#">menu item 2</a>
			</li>
			<li>
				<a href="#">menu item 3</a>
				<ul>
					<li><a href="#">menu item 3.1</a></li>
					<li><a href="#">menu item 3.2</a></li>
				</ul>
			</li>
			<li>
				<a href="#">menu item 4</a>
			</li>	
		</ul>     
		</nav><!-- #access -->
  
    </header><!-- end header -->
 
 
<section id="hero" class="clearfix">    
<!-- responsive FlexSlider image slideshow -->
<div class="wrapper">
	<div class="grid_5 alpha">
    	<hgroup>
			<h1>YAMB v.2</h1>
			<h2>is a tool for responsive web design</h2>
		</hgroup> 
        <p>
        YAMB v.2 is a small set of tools and best practices that allow web designers to build responsive websites faster. Websites built with YAMB will be optimized for screen widths between 320px and anything. Resize your browser to check it out.
        </p>
        <p><a href="http://www.prowebdesign.ro/yamb2/yamb2.zip" class="bluelink">DOWNLOAD</a> <a href="http://www.prowebdesign.ro/yet-another-boilerplate-for-responsive-mobile-web-design-yamb-v-2/" class="bluelink">TUTORIAL</a></p>
    </div>
    <div class="flexslider">
	    <ul class="slides">
        	<li>
	    		<img src="images/pic4.jpg" />
                <p class="flex-caption">Photos by &copy; Konstantin Chuenkov</p>
	    	</li>
	    	<li>
	    		<img src="images/pic1.jpg" />
	    		<p class="flex-caption">Birds...</p>
	    	</li>
	    	<li>
	    		<a href="http://www.prowebdesign.ro"><img src="images/pic2.jpg" /></a>
	    		<p class="flex-caption">and bees. This image is wrapped in a link.</p>
	    	</li>
	    	<li>
	    		<img src="images/pic3.jpg" />
                <p class="flex-caption">Macro bugger!</p>
	    	</li>
	    </ul>
	  </div>
</div>
<!-- FlexSlider -->
</section>






<!-- main content area -->   
<div id="main" role="main" class="wrapper">
    
    
<!-- content area -->    
	<div id="content">
                <h1>YAMB = Yet Another Mobile Boilerplate</h1>
                
        
                <h2>Features</h2>
                <ul>
                      <li>Mobile first approach.</li>
                      <li>Fluid layout &amp; fluid grid.</li>
                      <li>CSS drop-down menu with possibility of unlimited sub-levels.</li>
                      <li>For small screens drop-down menu is automatically converted into toggle menu.</li>
                      <li>Responsive touch enabled image slideshow with captions.</li>
                      <li>Responsive images in content part of the website</li>
                </ul>
                <h2>How To use YAMB v.2</h2>
                <ol>
                    <li><a href="http://www.prowebdesign.ro/yamb2/yamb2.zip">Download archive with all the source files.</a></li>
                    <li>Unzip and inspect demo.html. The code is well commented.</li>
                    <li>Insert your own pictures, captions, menu links, and content into Demo.html.</li>
                    <li>Add new styles for your own content to the main stylesheet: style.css.</li>
                    <li>Test to see what touch ups to CSS and HTML are needed. Don't forget to resize your browser to see how your content will look on smaller screens. Better yet, test on as many mobile devices as possible.</li>
                </ol>
                	<p>Remember that YAMB is only a simple skeleton, meant to jump-start your responsive project. It is not a plug-n-play cover-all-possibilities template. It's intended to be minimalistic.</p>
        		<h2>What's new in comparison to YAMB v.1.</h2>
                <ul>
                    <li>Cleaner, better layout.</li>
                    <li>Mobile first approach.</li>
                    <li>Pure CSS drop-down  menu, that automatically converts into toggle menu on small screens.</li>
                    <li>All scripts are updated to the latest versions.</li>
                </ul>
        		<p>The Mobile First approach is the biggest change. YAMB v.1 used traditional media queries, which loaded desktop design first and then would gradually hide less important elements as the screens went smaller. This approach was a safety net for older browsers without media queries support. But it is essentially faulty. With mobile last approach all the Kb-heavy assets meant for desktops were actually downloaded by ALL devices, even if they were only visible on large screens. With mobile first approach this doesn't happen, because CSS authoring starts with minimum of necessary styles, and then you add styles and eye-candy as progressive enhancement for larger screens. </p>
        		<p>New mobile first media queries structure of YAMB v.2 is inspired by wonderful WordPress starter theme - <a href="http://themble.com/bones/" target="_blank">Bones</a>.</p>
        		<p>Here's a <a href="http://www.netmagazine.com/interviews/luke-wroblewski-mobile-first" target="_blank">good article</a> for further reading about Mobile First approach.</p>
        		<div class="grid_4">Lil' responsive image<br>
          			<img src="images/pic4.jpg"  alt="responsive pic!"></div>
                    <div class="grid_8">If you want suggest a feature for <em>YAMB</em> v.2 or report a bug, you can write to office@prowebdesign.ro or leave a comment on dedicated <a href="http://www.prowebdesign.ro/yet-another-boilerplate-for-responsive-mobile-web-design-yamb/">blog post</a>. We'll be especially happy to see examples of websites, built using <em>YAMB</em>!:)</div>
    </div><!-- #end content area -->
      
      
      <!-- left sidebar -->    
    <aside>
        <h2>Secondary Section menu</h2>
            <nav id="secondary-navigation">
                    <ul>
                        <li><a href="#">menu item</a></li>
                        <li><a href="#">menu item</a></li>
                        <li><a href="#">menu item</a></li>
                        <li><a href="#">menu item</a></li>
                        <li><a href="#">menu item</a></li>
                    </ul>
             </nav>
             
            <script src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
            new TWTR.Widget({
              version: 2,
              type: 'faves',
              rpp: 10,
              interval: 30000,
              title: 'Responsive web design',
              subject: 'on Twitter',
              width: 'auto',
              height: 300,
              theme: {
                shell: {
                  background: '#e6e6e6',
                  color: '#000000'
                },
                tweets: {
                  background: '#ffffff',
                  color: '#444444',
                  links: '#0099ff'
                }
              },
              features: {
                scrollbar: true,
                loop: false,
                live: true,
                behavior: 'all'
              }
            }).render().setUser('prowebdesignro').start();
            </script>
      </aside><!-- #end left sidebar -->
      
      
 <!-- columns demo-->
<div id="columnsdemo" style="margin-bottom:60px; width:100%" class="clearfix">
<h2 style="width:100%; clear:both">Columns demo</h2>
<div class="grid_12"><h1>12</h1></div>

<div class="grid_1"><h1>1</h1></div>
<div class="grid_11"><h1>11</h1></div>

<div class="grid_2"><h1>2</h1></div>
<div class="grid_10"><h1>10</h1></div>

<div class="grid_3"><h1>3</h1></div>
<div class="grid_9"><h1>9</h1></div>

<div class="grid_4"><h1>4</h1></div>
<div class="grid_8"><h1>8</h1></div>

<div class="grid_5"><h1>5</h1></div>
<div class="grid_7"><h1>7</h1></div>

<div class="grid_6"><h1>6</h1></div>
<div class="grid_6"><h1>6</h1></div>
		
<div class="grid_4"><h1>4</h1></div>
<div class="grid_4"><h1>4</h1>
</div>
<div class="grid_4"><h1>4</h1></div>

<div class="grid_1"><h1>1</h1></div>
<div class="grid_2"><h1>2</h1></div>
<div class="grid_3"><h1>3</h1></div>
<div class="grid_3"><h1>3</h1></div>
<div class="grid_3"><h1>3</h1></div>
</div>
<!-- end columns demo -->  
      
  </div><!-- #end main -->
    


<!-- footer area -->    
<footer>
	<div id="colophon" class="clearfix">
    	<div class="grid_4"><h3>This software is distributed under GNU GENERAL PUBLIC LICENSE.</h3>
        Preamble<br>
<br>
The GNU General Public License is a free, copyleft license for software and other kinds of works.<br>
<a href="http://www.gnu.org/copyleft/gpl.html" target="_blank">read on &raquo;</a>
        </div>
		<div class="grid_4"><h3>Acknowledgements</h3>
        YAMB is built using following freely available scripts:
        <ul>
        	<li><a href="http://html5boilerplate.com/" target="_blank">HTML5 Boilerplate</a></li>
            <li><a href="http://users.tpg.com.au/j_birch/plugins/superfish/" target="_blank">CSS menu mark-up from SuperFish Menu by Joel Birch</a></li>
            <li><a href="http://www.woothemes.com/flexslider/" target="_blank">Responsive FlexSlider slideshow</a></li>
            <li><a href="http://www.tinyfluidgrid.com/" target="_blank">Responsive grid by Tiny Fluid Grid</a></li>
        </ul>
        </div>
		<div class="grid_4"><h3>&copy; Prowebdesign.ro</h3>
        YAMB. Yet Another Mobile Boilerplate is a tool for responsive web design. YAMB is made by <a href="http://www.prowebdesign.ro">Prowebdesign.ro</a>
        <br>
        Photos by &copy; Konstantin Chuenkov
		</div>
    </div>
</footer>


<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.9.0.min.js">\x3C/script>')</script>
		

<!-- responsive FlexSlider slideshow by  -->
<script defer src="js/flexslider/jquery.flexslider-min.js"></script>   

<!-- fire ups - read this file!  -->   
<script src="js/main.js"></script>
        

	


<script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">try {var pageTracker = _gat._getTracker("UA-15929125-1");pageTracker._trackPageview();} catch(err) {}</script>
</body>
</html>